# Openlead Environment Variables

NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key

# Google Maps API Key
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyCnvPS7oFR7nUWkE008r9DafN2iCgnCQZA

# Application URL (for emails and redirects)
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Resend API Key for sending Welcome Emails, Receipts, etc.
RESEND_API_KEY=your_resend_api_key

# Verified Domain Email Address in Resend (e.g. onboarding@openlead.co.uk)
RESEND_FROM_EMAIL=onboarding@openlead.co.uk

# Optional: Resend Audience ID for marketing emails (Newsletters, etc.)
RESEND_AUDIENCE_ID=your_resend_audience_id